#content { width: 1280px; }
#content .select { margin-top: 20px; width: 1280px; height: 221px; }
#content .select .pull { width: 100%; padding-bottom: 6px; padding-top: 12px; border-bottom: 1px solid #ccc; float: left; }
#content .select .pull h5 { color: #999999; line-height: 24px; margin-right: 20px; font-size: 14px; float: left; }
#content .select .pull .select-list { width: 1230px; float: left; }
#content .select .pull .select-list .leftPart { width: 48px; height: 24px; background: #64A131; text-align: center; float: left; }
#content .select .pull .select-list .leftPart a { color: white; line-height: 24px; }
#content .select .pull .select-list .rightPart { width: 1182px; float: left; }
#content .select .pull .select-list .rightPart a { display: inline-block; color: #555; font-size: 14px; height: 24px; padding: 0 9px; line-height: 24px; text-align: center; }
#content .select .paixu { border: 0; }
#content .select .paixu .rightPart { background: #f0f0f0; }
#content .list { width: 1280px; height: 2980px; margin-top: 30px; }
#content .list .listLeft { width: 1000px; margin-bottom: 100px; }
#content .list .listLeft ul li { position: relative; float: left; margin: 0 4px; margin-bottom: 8px; overflow: hidden; font-size: 14px; }
#content .list .listLeft ul li .wrap { width: 224px; height: 316px; }
#content .list .listLeft ul li .wrap .imgs { height: 224px; margin-bottom: 6px; position: relative; }
#content .list .listLeft ul li .wrap .imgs img { vertical-align: middle; width: 100%; height: 100%; }
#content .list .listLeft ul li .wrap .info { height: 24px; margin-bottom: 5px; margin-left: 3px; line-height: 24px; }
#content .list .listLeft ul li .wrap .info p { float: left; width: 150px; height: 24px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#content .list .listLeft ul li .wrap .info span { float: right; color: #999999; }
#content .list .listLeft ul li .wrap .p-operate { padding-top: 3px; width: 230px; height: 34px; overflow: hidden; }
#content .list .listLeft ul li .wrap .p-operate .guige { height: 22px; border-radius: 2px; line-height: 24px; text-align: center; float: left; cursor: pointer; border: 1px solid #DDDDDD; color: #999; padding: 0 5px; margin-right: 18px; margin-left: 2px; }
#content .list .listLeft ul li .wrap .p-operate .s-che { float: right; position: relative; width: 34px; height: 34px; top: -3px; right: 5px; background: url(../img/icons.png) no-repeat -518px -243px; cursor: pointer; }

.nav-center ul .current a:visited { color: #55A532; }

.nav-center ul .current em { display: block; }

#curs a { color: #55A532; display: block; border-right: 1px solid gray; padding: 0 25px; margin-top: 42px; }

#curs em { display: block; bottom: -32px; width: 90%; border-bottom: 2px solid #55A532; position: absolute; left: 5%; }

#shop-cart { display: none; position: fixed; width: 512px; height: 276px; border: 8px; border-color: rgba(0, 0, 0, 0.5); background: rgba(0, 0, 0, 0.16); top: 50%; left: 50%; z-index: 99999999; padding: 6px; margin: -144px 0 0 -262px; }
#shop-cart .shop-top { height: 40px; padding-right: 17px; background: #eaeaea; }
#shop-cart .shop-top .cha { cursor: pointer; }
#shop-cart .shop-top .cha img { margin-top: 10px; vertical-align: middle; float: right; }
#shop-cart .shop-content { background: #fff; height: 236px; }
#shop-cart .shop-content .title { padding: 28px 90px 0; height: 96px; }
#shop-cart .shop-content .title .gou { width: 60px; height: 68px; background: url(../img/icons.png) no-repeat -8px -247px; float: left; }
#shop-cart .shop-content .title p { font-size: 30px; margin: 13px 0; color: #555; white-space: nowrap; padding-left: 20px; float: left; }
#shop-cart .shop-content .row2 { font-size: 18px; color: #999; white-space: nowrap; padding-left: 4px; text-align: center; }
#shop-cart .shop-content .row2 .count, #shop-cart .shop-content .row2 .price { font-style: normal; color: #f6ab00; margin-left: 2px; margin-right: 2px; }
#shop-cart .shop-content .buy-btn { padding: 20px; padding-bottom: 25px; }
#shop-cart .shop-content .buy-btn .btn-left { margin-right: 15px; margin-left: 80px; float: left; text-align: center; }
#shop-cart .shop-content .buy-btn .btn-left a { color: #64a131; background: #f5ffed; border: 1px solid #64a131; border-radius: 4px; padding: 10px 16px; width: 113px; height: 18px; display: inline-block; line-height: 18px; }
#shop-cart .shop-content .buy-btn .btn-right { float: left; text-align: center; }
#shop-cart .shop-content .buy-btn .btn-right a { color: #eff4ec; background: #64a131; border: 1px solid #64a131; border-radius: 4px; padding: 10px 16px; width: 113px; height: 18px; display: inline-block; line-height: 18px; }

#zhezhao { display: none; width: 100%; height: 100%; background: #000; position: fixed; z-index: 999; opacity: 0.5; top: 0; }

/*# sourceMappingURL=FruitList.css.map */
